:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --footer-text-color: #f4f4fd;
  --logo-text-color: #4d5ae5;
  --color-title-white: #ffffff;

  --color-hover-focus: #404bbf;
  --color-text-btn: #4d5ae5;
  --color-background-btn: #f4f4fd;

  --background-color-main: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-background-color: #f4f4fd;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color-main);
}

/* ----------header-------------- */

/*--logo--*/
.header-container {
  display: flex;
  align-items: end;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px;
  border-color: #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: end;
}
.header-menu {
  display: flex;
  align-items: end;
  gap: 40px;
}
.adress-list {
  display: flex;
  align-items: end;
  gap: 40px;
}
.page-adress {
  margin-left: auto;
}
.logo {
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
}

.logo-item {
  color: var(--secondary-text-color);
}

/*--menu--*/

.menu-link:hover {
  color: var(--color-hover-focus);
}

.menu-link:focus {
  color: var(--color-hover-focus);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*--adress--*/
.page-adress {
  font-style: normal;
}

.adress-item {
  font-family: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-item:hover {
  color: var(--color-hover-focus);
}

.adress-item:focus {
  color: var(--color-hover-focus);
}

/*------------Hero----------*/
.hero {
  padding-top: 188px;
  padding-bottom: 292px;
  align-items: center;
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-title-white);
}



.page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  
  letter-spacing: 0.04em;
  cursor: pointer;

  

}

.hero-btn {
 
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--color-title-white);

  background-color: #4d5ae5;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}






/*--------about--------*/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  align-items: center;
  gap: 24px;
  width: calc(1128- (3 * 24) / 4);
}

.top-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/*-------About-US-------*/

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}
.about-us-title {
  margin-bottom: 72px;
}
.about-us-list {
  display: flex;
  align-items: center;
  gap: 24px;
  width: calc(1128- (2+24) / 3);
}
/*----------Our-Team--------*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--third-background-color);
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
    
  gap: 24px;
  
}
.team-member {
  
  background-color: var(--background-color-main);
}


   
  
  

/*--------Footer--------*/

.page-footer {
  padding: 100px 1020px 100px 156px;
  
  background-color: var(--secondary-background-color);
}



.footer-text {
  max-width: 264px;
}

.footer-text {
  margin-top: 16px;
  color: var(--footer-text-color);
}

.span-item {
  color: var(--footer-text-color);
}

/*-----------Portfolio------*/

.portfolio-btn {
  color: var(--color-text-btn);
  background-color: var(--color-background-btn);
}

.portfolio-btn:hover {
  color: var(--color-title-white);
  background-color: var(--color-hover-focus);
}

.portfolio-btn:focus {
  color: var(--color-title-white);
  background-color: var(--color-hover-focus);
}

.list-portofolio-btn {
  display: flex;
  align-items: center;
  gap: 24px;
padding-bottom: 96px;

 }
 .portfolio-btn {

 flex-direction: row;
 justify-content: center;
 align-items: center;
 

 min-width: 126px;
 height: 48px;
 align-items: center;
 text-align: center;
}
  